*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family:'Lato', sans-serif;
    background-color: #ede5dd;
    max-width: 100vw;
    max-height: 100vh;
}

main {
    margin: 0 auto;
}

/*-----------HEADER-----------*/

header {
    background-color: #92a2a4;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.logo img{
    max-height: 8rem;
}

.container-menu {
    display: flex;
    align-items: center;
}

.container-menu ul {
    display: flex;
    flex-wrap: wrap;
}

.container-menu li {
    margin-left: 2rem;
    list-style: none;
}

.container-menu a {
    text-decoration: none;
    color: #e4e8e9;
    font-size: 1.8rem;
}

.container-menu a:hover {
    cursor: pointer;
    color: #f7f9fa;
}

.instagram-button{
    background-color: transparent;
    border: none;
}

.instagram-button:hover {
    cursor: pointer;
}

.img-insta{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ------MAIN-------*/

.banner {
    background-image: url('./assets/dermatoprocedure.jpg');
    background-size: cover;
    background-position: 35%;
    width: 100%;
    height: 50rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 2rem;
    padding-bottom: 10rem;       
}

h1 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    margin-left: 5rem;
    color: #f7f9fa;
    width: 30rem;
}

.banner button {
    min-height: 4rem;
    max-width: 15rem;
    
    background-color: #ede5dd;
    border: none;
    
    margin-left: 5rem;

    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.banner button a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #a6493c;
}

.banner button:hover {
    cursor: pointer;
    background-color: rgb(241, 235, 235);
}

/* ----- SOBRE ------*/

#sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#sobre .image-sobre{
    max-width: 100%;
    max-height: 45rem;
}

h2 {
    font-family: 'Fahkwang', sans-serif;
    
    font-size: 3rem;  
    max-width: 65rem;
    color: #a6493c; 
}

.sobre-container {
    margin-left: 3rem;
}

#sobre p {
    display: flex;
    text-align: start;
    font-size: 1.6rem;
    
    color: #666;
    width: 65rem;
}

#sobre .imagens-curriculo{
    display: flex;
    flex-direction: row;
    
    margin-top: 1rem;
    gap: 2rem;
    height: 5rem;
}



/* -------- EMPRESA ---------- */

.empresa {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo da section */
    padding: 2rem; /* Espaçamento interno */
    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(./assets/M-cor.png);
    background-size: cover;
    
}

.caixa {
    background-color: #fff; /* Cor de fundo das caixas */
    padding: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra nas caixas */
    width: 25rem;
    height: 30rem;
}

/* Estilos para os títulos (h2) */
.caixa h3 {
    font-size: 2.5rem;
    color: #a6493c; /* Cor do texto dos títulos */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para os parágrafos (p) */
.caixa p {
    font-size: 1.6rem;
    color: #666; /* Cor do texto dos parágrafos */
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ----- TRTAMENTOS------*/
#especialidades {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;   
}

h4 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color:#a6493c;
}

.container-tratamentos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column; 
}


.dermatologia-clinica,
.tricologia,
.dermatologia-estetica {
    max-height: 30rem; /* Altura comum para as imagens */
    width: 100%;
    position: relative;
    height: 35rem;

    margin-top: 1rem;
}

.dermatologia-clinica,
.tricologia,
.dermatologia-estetica {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container-tratamentos span{
    font-weight: 700;
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c; 
}


.dermatologia-clinica{
    background-image: url('./assets/dermato-mao.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
}

.tricologia{
    background-image: url('./assets/dermato-couro-cabeludo.png');
    background-size: cover;
    background-position: 35%;
 
}

.dermatologia-estetica{
    background-image: url('./assets/dermato-botox.png');
    background-size: cover;
    background-position: 35%;
}

/* ---- SAIBA MAIS ----*/

#saiba-mais {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: fit-content;
   
}

h4 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c;
}


.saibamaiscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding-top: 2rem ;
    gap: 10rem;
}

.saibamaiscontainer img{
    border-radius: 50%;
}

.saibamaiscontainer p {
    font-weight: 700;
    margin: 0 auto;
    padding-top: 2rem;
}

.saibamaiscontainer button a{
    font-size: 1.6rem;
    
    color: white;
    text-decoration: none;
}

.saibamaiscontainer button{
    padding: 1.5rem;
    background-color: #a6493c;
    border: none;
    
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.saibamaiscontainer button:hover {
    cursor: pointer;
    background-color: #b48c6d;
}


/*-------LOCALIZAÇÃO--------- */
#localização {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c;
    margin-bottom: 3rem;
}

.localizacao-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.localizacao1 .localizacao2 .localizacao3 {
    width: 35rem;
}

.localizacao-container p{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color:#666;
}

iframe {
    width: 40rem;
    height: 20rem;
}

.localizacao-container button {
    border: none;
    background-color: #a6493c;  
    padding: 1rem;
    margin-top: 2rem;  
}

.localizacao-container button:hover {
    cursor: pointer;
    background-color: #b48c6d;
}

.localizacao-container button a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #ede5dd;
}


/* ----- FOOTER ---- */
footer {
    background-color: #e9ddd2;; 
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
}


/* -------------------- MEDIA QUERIES --------------------- */

@media (max-width: 40em) {
    body {
        font-size: 1.4rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img{
        max-height: 4rem;
    }
    
    .container-menu ul{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .container-menu li {
        font-size: 1rem;
    }

    .img-insta{
        height: 1.5rem;
    }
    
    
    /*       banner       */
   .banner {
        background-position: 35%;
   }    
    
    h1 {
        font-size: 1.6rem;
        margin-left: 2rem;
        margin-top: 20rem;
    }

    .banner button{
        min-height: 3rem;
        max-width: 10rem;
        margin-left: 2rem;
    }

    .banner button a{
        font-size: 1rem;
    }
  
    /*      sobre      */
    
    #sobre {
        flex-direction: column;
        padding-top: 6rem;
        padding-bottom: 6rem;
        
    }

    #sobre .image-sobre{
        max-width: 99%;
        
    }
    
    h2 {
        font-size: 2rem;  
        max-width: 90%;
        text-align: center;
        margin: 2rem auto;
    }

    #sobre p{
        width: 90%;
        margin: 0 auto;          
    }

    #sobre .imagens-curriculo{
        margin-top: 1rem;
        margin-left: 2rem;
        gap: 1rem;
        height: 3rem;
    }

    /*      Tratamentos     */  
    #especialidades{
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
    }
    
    h4{
        font-size: 2rem;
    }

    .container-tratamentos {
        margin-top: 1rem;   
    }


    .container-tratamentos span{
         font-size: 2rem;
         height: auto;
         margin-bottom: 1rem;
    }
    
    .container-tratamentos p {
        font-size: 1.4rem;
    }   
    
    .container-tratamentos div {
        background-size: cover;
        background-position: 35%;
        margin-top: 2rem;
    }
    
    .dermatologia-clinica,
    .tricologia,
    .dermatologia-estetica {
        height: 25rem; /* Altura comum para as imagens */
        width: 100%;
        position: relative;
    }
    

        
    /*        saiba mais       */
    #saiba-mais{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .saibamaiscontainer {
        flex-direction: column;
        align-items: center;
    }

  
    /*      localização     */
    #localização {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    h5 {
        font-size: 2rem;
    }

    .localizacao-container {
        flex-direction: column;
        align-items: center;
    }

    .localizacao1, .localizacao2, .localizacao3 {
        width: 90%; /* Ajusta a largura das seções de localização */
        margin-bottom: 3rem; /* Adiciona espaçamento inferior */
    }
    
    .localizacao-container p{
        margin-bottom: 1rem;
    }

    .localizacao-container button {
        margin-top: 0;
        margin-bottom: 5rem;
    }
       

    iframe {
        width: 100%;
        max-height: 100%;
        margin-bottom: 1rem;
    }
    
    
    /*     footer     */
    footer {
        font-size: 1.4rem;
    }
    
}