*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family:'Lato', sans-serif;
    background-color: #ede5dd;
    max-width: 100vw;
    max-height: 100vh;
}

main {
    margin: 0 auto;
}

/*-----------HEADER-----------*/

header {
    background-color: #92a2a4;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.logo img{
    max-height: 8rem;
}

.container-menu {
    display: flex;
    align-items: center;
}

.container-menu ul {
    display: flex;
    flex-wrap: wrap;
}

.container-menu li {
    margin-left: 2rem;
    list-style: none;
}

.container-menu a {
    text-decoration: none;
    color: #e4e8e9;
    font-size: 1.6rem;
}

.container-menu a:hover {
    cursor: pointer;
    color: #f7f9fa;
}

.instagram-button{
    background-color: transparent;
    border: none;
}

.instagram-button:hover {
    cursor: pointer;
}

button .img-insta{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: filter 0.3s ease;
}


/* ------MAIN-------*/

.banner {
    background-image: url('./assets/descricao.JPG');
    background-size: cover;
    background-position-y: 15%;
    
    width: 100%;
    height: 70rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 2rem;
    padding-bottom: 10rem;       
}

h1 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    margin-left: 8rem;
    color: #a6493c;
    width: 30rem;
}

.banner p{
    margin-left: 8rem;
    font-family: "Lato", sans-serif;
    color: #aa7974;
    margin-bottom: 2rem;
}

.banner button {
    min-height: 4rem;
    max-width: 15rem;
    
    background-color: #a6493c;
    border: none;
    
    margin-left: 8rem;

    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.banner button a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #dedfdd;
}

.banner button:hover {
    cursor: pointer;
    background-color: #aa7974;
}

/* ----- SOBRE ------*/

#sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#sobre .image-sobre{
    max-width: 100%;
    max-height: 50rem;
}

h2 {
    font-family: 'Fahkwang', sans-serif;
    
    font-size: 3rem;  
    max-width: 65rem;
    color: #a6493c; 
}

.sobre-container {
    margin-left: 3rem;
}

#sobre p {
    display: flex;
    text-align: start;
    font-size: 1.6rem;
    
    color: #666;
    width: 65rem;
}

#sobre .imagens-curriculo{
    display: flex;
    flex-direction: row;
    
    margin-top: 1rem;
    gap: 2rem;
    height: 5rem;
}


/* ----- TRATAMENTOS------*/
#especialidades {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;   
}

h4 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color:#a6493c;
}

.container-tratamentos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column; 
}


.dermatologia-clinica,
.tricologia,
.dermatologia-estetica {
    max-height: 30rem; /* Altura comum para as imagens */
    width: 100%;
    position: relative;
    height: 35rem;

    margin-top: 1rem;
}

.dermatologia-clinica,
.tricologia,
.dermatologia-estetica {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container-tratamentos span{
    font-weight: 700;
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c; 
}


.dermatologia-clinica{
    background-image: url('./assets/dermato-mao.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
}

.tricologia{
    background-image: url('./assets/tricologia3.png');
    background-size: cover;
    background-position: 35%;
 
}

.dermatologia-estetica{
    background-image: url('./assets/dermato-botox.png');
    background-size: cover;
    background-position: 35%;
}

/* ---- SAIBA MAIS ----*/

#saiba-mais {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: fit-content;

    background-image: url('./assets/prancheta6ok.png');
    background-size: cover;
    background-position: 15%;
}

h4 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c;
}


.saibamaiscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding-top: 2rem ;
    gap: 10rem;
}

.saibamaiscontainer img{
    border-radius: 50%;
    height: 20rem;
}

.saibamaiscontainer p {
    font-weight: 700;
    margin: 0 auto;
    padding-top: 2rem;
    color: #666;
}

.saibamaiscontainer button a{
    font-size: 1.6rem;
    
    color: white;
    text-decoration: none;
}

.saibamaiscontainer button{
    padding: 1.5rem;
    background-color: #a6493c;
    border: none;
    
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.saibamaiscontainer button:hover {
    cursor: pointer;
    background-color: #b48c6d;
}

.div-insta img{
    height: 20rem;
    border-color: #ede5dd;
}


/*-------LOCALIZAÇÃO--------- */
#localização {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    color: #a6493c;
    margin-bottom: 3rem;
}

.localizacao-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.localizacao1 .localizacao2 .localizacao3 {
    width: 35rem;
}

.localizacao-container p{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color:#666;
}

iframe {
    width: 40rem;
    height: 20rem;
}

.localizacao-container button {
    border: none;
    background-color: #a6493c;  
    padding: 1rem;
    margin-top: 2rem;  
}

.localizacao-container button:hover {
    cursor: pointer;
    background-color: #b48c6d;
}

.localizacao-container button a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #ede5dd;
}


/* ----- FOOTER ---- */
footer {
    background-color: #e9ddd2;; 
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    color: #666;
}


/* -------------------- MEDIA QUERIES --------------------- */

@media (max-width: 40em) {
    body {
        font-size: 1.4rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img{
        max-height: 4rem;
    }
    
    .container-menu ul{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .container-menu li a{
        font-size: 1rem;
    }

    button .img-insta{
        margin-top: 1rem;
        height: 1.5rem;
    }
    
    
    /*       banner       */
   .banner {
        background-size: cover;
        background-position-y: -80%;
        height: 40rem;
   }    
    
    h1 {
        font-size: 1.6rem;
        margin-left: 1rem;
        margin-top: 10rem;
    }

    .banner button{
        min-height: 3rem;
        max-width: 10rem;
        margin-left: 1rem;
    }

    .banner button a{
        font-size: 1rem;
        color: #ede5dd;
    }

      
    .banner button:hover {
        cursor: pointer;
        background-color: #f0e0d1;
    }
  
    /*      sobre      */
    
    #sobre {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        
    }

    #sobre .image-sobre{
        max-width: 80%;
    }
    
    h2 {
        font-size: 2rem;  
        max-width: 90%;
        text-align: center;
        margin: 2rem auto;
    }

    #sobre p{
        width: 90%;
        margin: 0 auto;          
    }

    #sobre .imagens-curriculo{
        margin-top: 1rem;
        margin-left: 2rem;
        gap: 1rem;
        height: 3rem;
    }

    /*      Tratamentos     */  
    #especialidades{
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
    }
    
    h4{
        font-size: 2rem;
    }

    .container-tratamentos {
        margin-top: 1rem;   
    }


    .container-tratamentos span{
         font-size: 2rem;
         height: auto;
         margin-bottom: 1rem;
    }
    
    .container-tratamentos p {
        font-size: 1.4rem;
        max-width: 30rem;
    }   
    
    .container-tratamentos div {
        background-size: cover;
        background-position: 35%;
        margin-top: 2rem;
    }
    
    .dermatologia-clinica,
    .tricologia,
    .dermatologia-estetica {
        height: 25rem; /* Altura comum para as imagens */
        width: 100%;
        position: relative;
    }
    

        
    /*        saiba mais       */
    #saiba-mais{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .saibamaiscontainer {
        flex-direction: column;
        align-items: center;
    }

  
    /*      localização     */
    #localização {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    h5 {
        font-size: 2rem;
    }

    .localizacao-container {
        flex-direction: column;
        align-items: center;
    }

    .localizacao1, .localizacao2, .localizacao3 {
        width: 90%; /* Ajusta a largura das seções de localização */
        margin-bottom: 3rem; /* Adiciona espaçamento inferior */
    }
    
    .localizacao-container p{
        margin-bottom: 1rem;
    }

    .localizacao-container button {
        margin-top: 0;
        margin-bottom: 5rem;
    }
       

    iframe {
        width: 100%;
        max-height: 100%;
        margin-bottom: 1rem;
    }
    
    
    /*     footer     */
    footer {
        font-size: 1.4rem;
    }
    
}