*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:'Montserrat', sans-serif;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

main {
    margin: 0 auto;
}

/*-----------HEADER-----------*/

header {
    background-color: #92a2a4;
    display: flex;
    justify-content: space-around;

    padding-top: 1rem;
    padding-bottom: 1rem;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img{
    max-height: 8rem;
}

.container-menu {
    display: flex;
    align-items: center;
}

.container-menu ul {
    display: flex;
    flex-wrap: wrap;
}

.container-menu li {
    margin-left: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.container-menu a {
    text-decoration: none;
    color: #e4e8e9;
    font-size: 1.4rem;
}

.container-menu a:hover {
    cursor: pointer;
    color: #f7f9fa;
}

.instagram-button{
    background-color: transparent;
    border: none;
}

.instagram-button:hover {
    cursor: pointer;
}

button .img-insta{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: filter 0.3s ease;
}


/* ------MAIN-------*/

.banner {
    background-image: url('./assets/home.png');
    background-size: cover;
        
    max-width: 100%;
    height: 60rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 1rem;
    padding-bottom: 15rem;       

    overflow: hidden;
}



@keyframes slide-in {
    to {
        opacity: 1; /* Terminar com opacidade total */
        transform: translateX(0); /* Terminar com posição original */
    }
}


.banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-left: 5rem;
    color: #a6493c;
    width: 30rem;

    opacity: 0; /* Comece com opacidade 0 para que eles estejam ocultos inicialmente */
    
    animation: slide-in 1s forwards;
    transform: translateX(-100%);
    
}

.banner p {
    width: 50rem;
    margin-left: 5rem;
    font-weight: 700;
    color: #a6493c;
    margin-bottom: 2rem;
    font-size: 3rem;
    
    transform-origin: center;
    animation: slide-in-center 1s forwards;
    transform: scale(0); /* Comece com escala 0 */
}

@keyframes slide-in-center {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.banner button {
    min-height: 4rem;
    max-width: fit-content;
    padding-right: 2rem;
    padding-left: 2rem;
    
    background-color: #a6493c;
    border: 2px solid white;
    
    margin-left: 5rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    transform: translateY(100%);

    opacity: 0; /* Comece com opacidade 0 para que eles estejam ocultos inicialmente */
    
    animation: slide-in 2s forwards; 

    transition: background-color 0.3s, color 0.3s;
}

.banner button a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
    
    color: white;
}

.banner button:hover {
    cursor: pointer;
    background-color: #aa7974;
    
    border: 2px solid #383838 ;
}


/* ----- SOBRE ------*/

#sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 100%;
}

#sobre .image-sobre{
    max-width: 100%;
    max-height: 60rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;  
    width: 50rem;
    color: #a6493c; 
    text-align: left;
}

.sobre-container {
    max-width: 40rem;
    margin-left: 3rem;
    
}

#sobre p {
    max-width: 40rem;
    display: flex;
    text-align: start;
    font-size: 1.8rem;
    
    
    color: #383838;
    width: 65rem;
}

#sobre .imagens-curriculo{
    display: flex;
    flex-direction: row;
    
    margin-top: 1rem;
    gap: 2rem;
    height: 5rem;
}


/* ----- TRATAMENTOS------*/
#especialidades {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color:#a6493c;
}

.container-tratamentos {
    margin-top: 3rem;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 3rem;
  
}

.container-tratamentos img {
    height: 25rem;
    margin-bottom: 3rem;
}

.dermatologia-clinica,
.tricologia,
.dermatologia-estetica {
    color: black;
    width: 25rem;
    background-color: #dedfdd;
    padding-bottom: 4rem;  
}

.container-tratamentos span{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #a6493c; 
}

.especialidades-p {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* ---- SAIBA MAIS ----*/

#saiba-mais {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background-image: url('./assets/prancheta6ok.png');
    background-size: cover;
    max-width: 100%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #a6493c;
}


.saibamaiscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding-top: 2rem ;
    gap: 10rem;
}

.saibamaiscontainer img{
    border-radius: 50%;
    max-width: 20rem;
    height: auto;
}

.saibamaiscontainer p {
    font-weight: 700;
    margin: 0 auto;
    padding-top: 2rem;
    color: #383838;
}

.saibamaiscontainer button a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    
    color: white;
    text-decoration: none;
}

.saibamaiscontainer button{
    padding: 1rem;
    background-color: #a6493c;
    border: 2px solid white;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.saibamaiscontainer button:hover {
    cursor: pointer;
    background-color: #aa7974;
    
    border: 2px solid #383838 ;
}

.div-insta img{
    height: 20rem;
    border-color: #ede5dd;
}


/*-------LOCALIZAÇÃO--------- */
#localização {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #a6493c;
    margin-bottom: 3rem;
}

.localizacao-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.localizacao1 .localizacao2 .localizacao3 {
    width: 35rem;
}

.localizacao-container p{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color:black;
}

iframe {
    max-width: 35rem;
    height: 20rem;
}

.localizacao-container button {
    border: none;
    background-color: #a6493c;  
    padding: 1rem;
    margin-top: 2rem; 
    
    border: 2px solid white;
   
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.localizacao-container button:hover {
    cursor: pointer;
    background-color: #aa7974;
    
    border: 2px solid #383838 ;
}

.localizacao-container button a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
    
    color: white;
}

/*---------whatsapp button----------*/

#whatsapp-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*----------- Estilos para o pop-up de WhatsApp------------- */
#whatsapp-popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #05dd61;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

#whatsapp-content {
    text-align: center;  
}

#whatsapp-content span{
    color: #fff;
    font-size: 1.6rem;
    font-family: "Montserrat", sans serif;
    font-weight: 700;
}

#whatsapp-content img{
    height: 3rem;
    margin-right: 1rem;
    align-items: flex-start;
}

#whatsapp-content ul{
  margin-top: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
    
  gap: 5px;
}

#whatsapp-content li {
  font-size: 1.6rem;  
  background-color: #fff;
  color: black;
  width: 30rem;
    
  padding: 2rem;
}

#whatsapp-content li a{
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;  

}

#whatsapp-content li a:hover{
    color: black;
}

#close-button {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#close-button:hover {
    color: black;
}

/* ----- FOOTER ---- */
footer {
    background-color: #e9ddd2;; 
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    color: #666;
}



/* -------------------- MEDIA QUERIES --------------------- */

@media (max-width: 60em) {
    body {
        font-size: 1.4rem;
        
    }

    header {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .logo img{
        max-height: 5rem;
    }
    
    .container-menu ul{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .container-menu li a{
        font-size: 1rem;
    }

    button .img-insta{
        margin-top: .3rem;
        height: 1.5rem;
    }
    
    
    /*       banner       */
    
   .banner {
        max-width: 100%;
        height: auto;
        justify-content: flex-start;              
    }
      
    
    .banner h1 {
        
        font-size: 1rem;
        margin-left: 0;
        margin-top: 2rem;
        font-weight: 400;
    }

    .banner p{
        font-size: 1.2rem;
        margin-left: 0;
        max-width: 20rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .banner button{
        min-height: 3rem;
        width: fit-content;
        margin-left: 0;
        background-color: #a6493c;
        border: 2px solid white;
    }

    .banner button a{
        font-weight: 400;
        font-size: 1rem;
        color:  white;
        display: flex;
        align-items: center;
    }

     
    /*      sobre      */
    
    #sobre {
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        
    }

    #sobre .image-sobre{
        max-width: 80%;
        height: auto;
    }
   
    h2 {
        
        font-size: 2rem;  
        max-width: 80%;
        
        margin-left: 1rem;
    }

    .sobre-container {
        max-width: 80%;
        margin-left: 1rem;
    }    

    #sobre p{
        margin-left: 1rem;
        font-size: 1.4rem;
        
        max-width: 80%;       
    }

    #sobre .imagens-curriculo{
        margin-top: 1rem;
        margin-left: 4rem;
        gap: 1rem;
        height: 3rem;
        
               
    }

    /*      Tratamentos     */  
    #especialidades{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    h3{
        font-size: 2rem;
    }

    .container-tratamentos {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .container-tratamentos span{
        font-size: 1.6rem;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .container-tratamentos p {
        font-size: 1.4rem; 
    }   
    
           
    /*        saiba mais       */
    #saiba-mais{
        padding-top: 6rem;
        padding-bottom: 6rem;
        max-width: 100%;
        height: auto;
    }

    h4{
        font-size: 2rem;
    }

    .saibamaiscontainer {
        flex-direction: column;
        align-items: center;
    }

    .saibamaiscontainer img{
        height: 20rem;
    }

    .saibamaiscontainer button a{
        font-size: 1.4rem;
        font-weight: 400;
    }

    

  
    /*      localização     */
    #localização {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    h5 {
        font-size: 2rem;
    }

    .localizacao-container {
        flex-direction: column;
        align-items: center;   
    }

    .localizacao-container p{
        font-size: 1.4rem;
    }

    .localizacao1, .localizacao2, .localizacao3 {
        width: 80%; /* Ajusta a largura das seções de localização */
        margin-bottom: 3rem; /* Adiciona espaçamento inferior */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .localizacao-container p{
        margin-bottom: 1rem;
    }

    .localizacao-container button {
        margin-top: 0;
        margin-bottom: 5rem;
    }

    .localizacao-container button a{
         font-size: 1.4rem;
        font-weight: 400;
        
    }
    
       
    iframe {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    
    
    /*     footer     */
    footer {
        font-size: 1.2rem;
    }

    /*-       whatsapp button          */

    #whatsapp-button {
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;

    }

    /*         Estilos para o pop-up de WhatsApp       */
    #whatsapp-popup {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); 
        max-width: 30rem; 
    }

    #whatsapp-content {
        text-align: center; 
    }

    #whatsapp-content span{
        font-size: 1.4rem;
    }

    #whatsapp-content img{
        height: 2rem;     
    }

    #whatsapp-content ul{
        list-style: none; 
        width: 25rem;
    }

    #whatsapp-content li {
        padding: 1rem; 
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  

    #whatsapp-content li a{
        font-size: 1.3rem;
    }

    #close-button {
        margin-top: 1rem;
    }

    
}